body {
    align-items: center;
    text-align: center;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
line-height: 206%;

}

.circle{
 
        height: 48px;
        width: 48px;
        border-radius: 50%;
        position: absolute; 
        top: 14px;
        left: 200px;
    
}

@media only screen and (max-width: 1000px){
    .top-page{
        display: flex;
        align-items:flex-end;
        width: 700px;
    }
}


.top-page{
    background-image: url(Websitemockup/Header.png);
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.top-content > h1{
    padding:50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    
    text-align: center;
    letter-spacing: 0.64em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.top-content > h2{
    padding:50px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.37em;
    
    color: #FFFFFF;
    

}


.top-button{
    background: #FDE500;
    color: black;
    text-decoration: none;
    padding: 1em 2em;
}

.section2 {
text-align: center;
padding:100px;

}
.section2 > p {
    margin:120px;
    
        }


.OurServices{
    background-color: #F4F4F4;
    padding: 50px;
    
}

.servicesElements{
    padding: 50px;
    
    
}
.servicesElements > h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */
    
    text-align: center;
    letter-spacing: 0.78em;
    text-transform: uppercase;
    
    
}
    
    

.boxes {
    display:flex;
    padding: 20px;
    justify-content: center;
        
}


.box{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 178%;
    
    
}
.Sbox{
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    padding: 35px;
    margin: 10px;


}

.Scoreboxes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    


}


.skillbar {
    color: white;
   padding: 1%;
      background: #F3F3F3;
    border-radius: 10px;
    width: 200px;
    margin: 0px;
}

.skillbar2 {
     background: #FDE500;
        color: white;
    padding: 1%;
        border-radius: 10px;
        width: 100px;
}


.createdPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    background: #0B0B0B;
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* identical to box height, or 22px */

text-align: center;
letter-spacing: 0.25em;
text-transform: uppercase;

}

.createdSquare{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

    Width: 274px;
    Height: 71px;
    margin: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* in 640px screen size change layout to
@media screen and (max-width: 640px){ 
    body {
       
        flex-direction: column;
    }

    .box {
        margin: 20px 5px;
        border: 2px solid yellow;
    }
} */


.Protfolio-content{
padding:30px;

}
.PortfolioPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.Protfolio-content{
   align-items: center;
   padding:60px;
   
}



.sptexts{
 display: flex;
 text-align: center;
 align-items: center;
 justify-content: space-around;
letter-spacing: 0.2em;
text-transform: uppercase;

border-top:3px solid #000;
border-bottom:3px solid #000;
}


.SP{
    background-color: #080808;
    position:absolute;
    top: 2980px;
    right: 711px;
}



.PortImages{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.portimg{
    display:flex;
    width: 325px;
    height: 250px;

}

.PortImages{
    padding:50px;
}



.LikeSee{
    background-color: white;
    padding: 100px;

}

.like-button{
    background: #FDE500;
    color: black;
    text-decoration: none;
    padding: 1em 2em;
    font-family: 'Raleway';
    font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 13px;
letter-spacing: 0.37em;
text-transform: uppercase;
}

.LikeVideo{
    background-image: url(Websitemockup/sky.png);
      padding:150px;
    
    
}
.view-button{
    background: #FDE500;
    color: black;
    text-decoration: none;
    padding: 1em 2em;
    font-family: 'Raleway';
    font-size: 18px;

font-style: normal;
font-weight: 600;
line-height: 13px;
letter-spacing: 0.37em;
text-transform: uppercase;  
}

.OurTeam{
    padding:80px
}

.OurTeamPhotos{

    display:flex;
    justify-content: center;
    
    
    
    
}

.OurTeamPhotos > div{

    display: flex;    
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    width: 210px;
   
    margin: 25px;
    font-family: 'Raleway';
    font-style: normal;
   
   

}

.OurTeamPhoto > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    letter-spacing: 0.25em;
}

.footer{
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    
}

.yello-triangle{
    position: absolute;
    width: 1515px;
    height: 215px;
    left: 0px;
    top: 5433px;
    background: #FDE500;
    z-index: -1;
}



.bio-end{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    font-family: 'Raleway';

    

    
}
.bio-end > div{
    padding:50px;
    display: flex;
    flex-direction: column;
 
    
}

.ContactUs{
    display: flex;
    align-items: baseline;
    
}
.Links-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.AboutUs-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}


.ContactUs > div{
    display: flex;
    margin:30px;
}





.marketing-logos{
    display: flex;
     column-gap: 20px; /* how to give column gap  */
  justify-content: space-between;
  
}